* {
    transition: all 0.3s;
    margin: 0;
    max-width: 100%;
}

html,
body {
    font-family: 'Raleway', sans-serif;
}


/*Utiilidades*/

.btn-invi {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
}

.btn-color {
    background-color: #552873;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
    margin-top: 0.5rem;
}

.btn-color:hover {
    cursor: pointer;
    background-color: #960CF2;
    color: #ffffff;
}

.row2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* Navbar */

.navbar {
    padding: 1rem;
}

nav img {
    width: 80%;
}

@media only screen and (max-width: 992px) {
    nav img {
        width: 130%;
    }
}

@media only screen and (max-width: 575px) {
    nav img {
        width: 60%;
    }
}

.bg-nav {
    background-color: #552873;
}

.bg-nav img {
    width: 50%;
}

nav a {
    color: #ffffff !important;
    text-decoration: none;
    transition: 0.2s;
}

nav a:hover {
    color: #c9c9c9 !important;
    transition: 0.2s;
}

.bg-ind {
    background-image: url(../img/index-img.jpg);
    height: 500px;
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.toggler {
    background-color: #960CF2;
}

.dropdown-toggle:hover {
    color: #c9c9c9;
}

.dropdown-item:hover {
    background-color: #960CF2 !important;
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
}

.dropdown-menu a {
    text-decoration: none;
}


/* Index */

.sect-index {
    width: 100%;
    padding: 3rem 5rem;
}

.bg-index {
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.bg-index a{
    color: #FFF;
    text-decoration: none;
    text-shadow: 4px 4px 5px #0c0c0c;
    font-weight: 700;
}

@media only screen and (max-width: 992px) {
    .sect-index {
        padding: 0;
    }
    .bg-index {
        height: 30vh
    }
}


/* MAIN */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: #552873;
    font-weight: 700;
}

.card-img {
    background-image: url(../img/img-index.jpg);
    padding: 0;
    height: 300px;
    background-position: center;
    background-size: cover;
}

.card-recolor {
    height: 100%;
}

.card-recolor:hover {
    background-color: rgba(87, 28, 114, 0.541);
}

.card-recolor:hover {
    opacity: 100%;
}


/* Destacado */

.destacado {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Footer */

.footer {
    padding: 2rem;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #770ABF;
    background-color: #ffffff;
}

.redes i {
    color: #770ABF;
    font-size: 2rem;
    transition: 0.2s;
}

.redes i:hover {
    color: #B556F4;
    font-size: 2.2rem;
    transition: 0.2s;
}

.contac a {
    text-decoration: none;
    color: #770ABF;
    transition: 0.2s;
}

.contac a:hover {
    color: #B556F4;
    text-decoration: none;
    transition: 0.2s;
}

.copy {
    color: #770ABF;
}


/* Quienes Somos */

.quien-somo {
    overflow: hidden;
}

.vista-somos {
    color: #552873;
}


/* Crear Estilo */

.card-img-top {
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-input-element {
    display: none;
}

.card-input {
    margin: 10px;
    padding: 00px;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked+.card-input {
    box-shadow: 0 0 1px 1px #2ecc71;
}

.scroll {
    overflow: scroll;
    width: 100%;
    height: auto;
}

.scroll::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #552873;
    border-radius: 5px;
}


/* Login */

.bg-login {
    background-image: repeating-linear-gradient(45deg, rgb(85, 40, 115) 0px, rgb(85, 40, 115) 10px, transparent 10px, transparent 11px), repeating-linear-gradient(135deg, rgb(85, 40, 115) 0px, rgb(85, 40, 115) 10px, transparent 10px, transparent 11px), linear-gradient(90deg, hsl(256, 7%, 84%), hsl(256, 7%, 84%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.bg-formulario {
    background-color: #ffffffde;
    min-height: 100vh;
    padding: 5rem;
}

.bg-formulario img {
    width: 40%;
    margin-bottom: 3rem;
}

.login-form {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    border-bottom: 1.5px solid #9c9c9c;
    width: 100%;
    height: 40%;
    padding: 0.5rem;
    outline: none;
}